{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
    <section class="text-center container">
        <h2 class="pb-2 border-bottom mb-3">
            <i class="fa-solid fa-clipboard-list me-2"></i>Meus alugueis
        </h2>
        <ul class="list-group list-group-flush">
            {% for aluguel in alugueis %}
            <a href="#" class="list-group-item list-group-item-action">
                <div class="card {% if aluguel.concluded %}border-success bg-success{% endif %}">
                    <div class="row g-0">
                      <div class="col-md-4">
                        {% thumbnail aluguel.car.image "x200" crop="center" as im %}
                        <img src="{{ im.url }}"
                             width="{{ im.width }}"
                             height="{{ im.height }}"
                             alt="carro"
                             class="card-img-top" />
                      {% empty %}
                        <img src="{% static 'img/carro.jpg' %}"
                             width="200"
                             height="200"
                             alt="carro"
                             class="card-img-top" />
                      {% endthumbnail %}
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <h5 class="card-title mb-3 text-center">Codigo: <span class="badge bg-secondary">{{ aluguel.rental_number }}</span></h5>
                          </div>
                          <div class="col">
                            <h5 class="card-title mb-3 text-center">Data do aluguel: <span class="badge bg-secondary">{{ aluguel.rent_date }}</span></h5>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <ul class="list-group">
                              <li class="list-group-item">Marca: {{ aluguel.car.brand }}</li>
                              <li class="list-group-item">Modelo: {{ aluguel.car.model }}</li>
                              <li class="list-group-item">Ano: {{ aluguel.car.year }}</li>
                            </ul>
                          </div>
                          <div class="col">
                            <div class="col text-center">
                              {% if not aluguel.concluded %}
                              <h3 class="card-title mb-3">Devolvendo hoje: <span class="badge bg-success rounded-pill">R$ {{ aluguel.total_rent }}</span></h3>
                              {% else %}
                              <ul class="list-group">
                                <li class="list-group-item">Data devolução: <span class="badge bg-info">{{ aluguel.return_date }}</span></li>
                                <li class="list-group-item">Quantidade dias: <span class="badge bg-info rounded-pill"> {{ aluguel.total_days }} Dias</span></li>
                                <li class="list-group-item">Total pago: <span class="badge bg-info rounded-pill">R$ {{ aluguel.total_rent }}</span></li>
                              </ul>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </a>
            {% empty %}
            <div class="d-flex align-items-center justify-content-center">
              <h2 >
                <i class="fa-solid fa-truck-container-empty me-2"></i>Não há alugueis ativos.
              </h2>
            </div>

            {% endfor %}
        </ul>
    </section>
    <!-- /.container -->
{% endblock content %}
