{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
  <section class="container text-center">
    <h2 class="pb-2 border-bottom mb-3">
      <i class="fa-solid fa-check-to-slot me-2"></i>Receber: {{ form.instance.car }}
    </h2>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          {% thumbnail form.instance.car.image "x200" crop="center" as im %}
          <img src="{{ im.url }}"
               width="{{ im.width }}"
               height="{{ im.height }}"
               alt="carro"
               class="card-img-top" />
        {% empty %}
          <img src="{% static 'img/carro.jpg' %}"
               width="200"
               height="200"
               alt="carro"
               class="card-img-top" />
        {% endthumbnail %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title mb-3"><span class="badge bg-secondary">Placa: {{ form.instance.car }}</span></h5>
          <div class="row">
            <div class="col">
              <h2 class="card-text">Total a pagar:</h2>
              <h2>
                <span class="badge bg-success rounded-pill">R$ {{ form.instance.car.rent_amount }}</span>
              </h2>
            </div>
            <div class="col">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Marca: {{ form.instance.car.brand }}</li>
                <li class="list-group-item">Modelo: {{ form.instance.car.model }}</li>
                <li class="list-group-item">Ano: {{ form.instance.car.year }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#" class="btn btn-primary">Devolver!</a>
</section>
{% endblock content %}
