{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
    <section class="text-center container">
        <img src="{% static 'img/logo.png' %}"
             alt=""
             width="150"
             height="150"
             class="my-3" />
        <div class="row py-lg-1">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light mb-3">VCAR</h1>
                <p class="lead text-muted mb-5">Locadora do carros do Piauí</p>
                <p>
                    <a href="{% url 'registration' %}" class="btn btn-primary my-2">Faça seu cadastro!</a>
                    <a href="#" class="btn btn-secondary my-2">Conheça a VCAR</a>
                </p>
            </div>
        </div>
    </section>
    <div class="container marketing">
        <hr class="featurette-divider" />
        <!-- Three columns of text below the carousel -->
        <div class="row">
            {% for carro in carros %}
                <div class="col-lg-4">
                    <div class="card" width="18rem">
                        {% thumbnail carro.image "x200" crop="center" as im %}
                        <img src="{{ im.url }}"
                             width="{{ im.width }}"
                             height="{{ im.height }}"
                             alt="carro"
                             class="card-img-top" />
                    {% empty %}
                        <img src="{% static 'img/carro.jpg' %}"
                             width="150"
                             height="150"
                             alt="carro"
                             class="card-img-top" />
                    {% endthumbnail %}
                    <div class="card-body">
                        <h5 class="card-title mb-3">Nome do carro</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Marca: {{ carro.brand }}</li>
                            <li class="list-group-item">Modelo: {{ carro.model }}</li>
                            <li class="list-group-item">Ano: {{ carro.year }}</li>
                        </ul>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Alugar!</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- /.col-lg-4 -->
        </div>
            <!-- /.row -->
            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider" />
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">
                        Alugue sem sair de casa! <span class="text-muted">Use o nosso App!</span>
                    </h2>
                    <p class="lead">Através do aplicativo VCAR você pode conferir e alugar o seu veiculo!</p>
                </div>
                {% comment %} <img src="{% static 'img/botoes.jpg' %}" width="10" height="10" class="mx-auto" alt="carro" /> {% endcomment %}
                <div class="col-md-5">
                        <img src="{% static 'img/app.png' %}"
                             height="600"
                             alt="frota"
                             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
                    </div>
                </div>
                <hr class="featurette-divider" />
                <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading">
                            Os melhores veículos de Teresina. <span class="text-muted">Veja e comprove!</span>
                        </h2>
                        <p class="lead">
                            Com uma ampla frota de carros novos e bem cuidados, a empresa oferece opções para atender diferentes necessidades e preferências dos clientes, desde carros populares até modelos mais luxuosos.
                        </p>
                    </div>
                    <div class="col-md-5 order-md-1">
                            <img src="{% static 'img/frota.jpg' %}"
                             height="600"
                             alt="frota"
                             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
                        </div>
                    </div>
                    <hr class="featurette-divider" />
                    <div class="row featurette mb-4">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">
                                Equipe de profissionais capacitados. <span class="text-muted">Preços competitivos!</span>
                            </h2>
                            <p class="lead">
                                A VCAR tem um atendimento personalizado, com uma equipe de profissionais capacitados e preços competitivos no mercado de locação de veículos.
                            </p>
                        </div>
                        <div class="col-md-5">
                                <img src="{% static 'img/equipe.jpg' %}"
                             height="600"
                             alt="frota"
                             class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
                            </div>
                        </div>
                        {% comment %} <hr class="featurette-divider" /> {% endcomment %}
                        <!-- /END THE FEATURETTES -->
                    </div>
                    <!-- /.container -->
                {% endblock content %}
